.App{
  max-width: 680px;
  margin:0 auto;
}
.avatar-box{
  width: 128px !important;
  text-align: center;
  margin: 0 auto;
}
.avatar-uploader > .ant-upload {
  width: 128px !important;
  height: 128px !important;
}
.text-center{
  text-align: center;
}
.marginAuto{
  margin: 0 auto;
}
.box-shadow {
  box-shadow: 0 2px 4px 0 #999999;
  padding: 90px 5vw 2vh;
  margin: -80px 5vw 5vw;
  border-radius: 8px;
}
.form{
  margin: 5vw  auto;
}
.padding30{
  padding: 50px 30px 20px;
}
.btn-box{
  width: 100%;
  padding: 5vw;
}
.btn-register{
  width: 100%;
}
.ant-upload.ant-upload-select-picture-card > .ant-upload >img{
  height: 110px !important;
}
#sex{
  width: 100%;
  text-align: center;
}
